/* Navigation section */

logo{
      margin: 0px;
      padding: 0px;
}
#navbar:before{
      /* flex-direction: column; */
      height: 90%;
}
#navbar ul li a{
      font-size:0.9rem;
      padding: 8px ;
      margin: 0 5px;
      font-weight: bolder;

}
.h-primary{
      
      font-size: 2.1rem;
      padding: 0px;

}

.h-primary p{
      font-size: 9px;
      font-weight: bolder;
}

/* Home Section */
 
#home{
      /* height: 325px; */
      padding: 0px 10px;
      

}
#home::before{
      padding: 2px 0px;


}
#home p{
      font-size: 17px;
      font-weight: bolder;
      color: rgb(0, 0, 0);
}

/* Services Section */

#services{

       width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
}
#services-container{
      /* margin-top: 6rem; */
padding-top: 50px
}
#services .box{

     margin: auto;
     box-sizing: border-box;
      

}
#services .box img{

     height: 90px;

}

/* Clients Section */

#clients{
      flex-wrap: wrap;
}
#clients img{
      width: 66px;
      padding: 2px 6px;
      height: auto;

}


/* Contact Section */
#contact-box form {
      width: 60%;
}


/* Footer Section */

/* Utility classes */


.btn{
      font-size: 13px;
      padding: 4px 8px;
}
